
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.5px;
 
    height: 100vh;
  }

  h1 {
    font-size: clamp(20px, 4vw, 30px);
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 150px;
  }
  main {
    width:70%;

    margin: 0 auto;
  }
  summary {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #fafafa;
    border: 2px solid white;
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(248, 242, 242),rgb(98, 93, 112));
    /* color: #fff; */
    color: black;
    padding: 2rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 2rem;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  p { 
    text-align: left;
    color: black;
    font-weight: 500;
    background-color: white;
    border: 3px  solid rgb(228, 243, 19);
    border-radius: 2rem;
    padding: 2.5rem;
    margin-top: -10px;
    margin-bottom: 10px;

   }

  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }
  details > summary::after {
    position: absolute;
    content: "+";
    color: white;
    right: 30px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 30px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  .darkmode {
    position: fixed;
    right: 10px;
    bottom: 150px;
    border-radius: 100px;
    background-color: #222;
    color: white;
    padding: 15px;
    width: 55px;
    font-size: 2rem;
    text-decoration: none;
    
    }
    .backBtn {
      position: fixed;
      left: 10px;
      top: 10px;
      border-radius: 15px;
      background-color: #222;
      padding: 10px;
     
      }
      .backBtn a{
        color: white;
          font-size: 20px;
       text-decoration: none;
         
      }
      .backBtn:hover{
        background-color: tomato;
        color: white;
      }