<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>e-Challan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  </head>
  <body > 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-logo"><img src="https://clipground.com/images/420-logo-4.png" alt="image" style="width: 100px;height: 50px;" ></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Others<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Review</a></li>
          </ul>
        </li>
       
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color: rgb(4, 248, 86);"><span class="glyphicon glyphicon-user" style="color: rgb(246, 248, 246);"></span> {{request.user}} </a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      
      </ul>
    </div>
  </div>
</nav>


<div class="container">
   <marquee behavior="roll" direction="left" scrollamount="15" style="text-align: center; color:red;">Welcome to e-Challan System. Please follow traffic rules. Start early, Drive Slowly, Reach Safey. Thank You. </marquee>
   <legend style="font-family: cursive;">Rule Violation Form:</legend>
 
  <form action="/action_page.php">
   
     
    <div class="form-group" >
      <label >Name:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Name" name="Name">
    </div>
    <div class="form-group">
      <label  >Place:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Place" name="Place">
    </div>
    <div class="form-group">
      <label  >Lisence Number:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Lisence Number" name="Lisence Number">
    </div>
    <div class="form-group">
      <label  >Vehicle Number:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Vehicle Number" name="Vehicle Number">
    </div>
    <div class="form-group">
      <label >Type:</label>
      <select class="form-control" id="exampleFormControlSelect1" >
        <option>Motor-Cycle/Scooter</option>
        <option>Car</option>
        <option>Bus</option>
        <option>Micro-Bus</option>
      </select>
      </select>
    </div>
    <div class="form-group">
      <label  >Created By:</label>
      <a class="form-control" id="email" placeholder="Created By" name="Traffic Name">{{request.user}}</a>
    </div>
   </fieldset>
    <button onclick="myFunction()" type="submit" class="btn btn-success"  style="position: center;">Submit</button>


    <script>
    function myFunction() {
      alert("Form has been submitted unsuccessfully");
    }
    </script>
  </form>

</div>

</body>
</html>