<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>e-Challan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body > 
      <button class="btn btn-danger"><a href="/home" style="color: white;"><span class="fa fa-arrow-left"></span></a></button>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Created Challans</h2>
            <h4><em>Total:{{messages|length}}</em> </h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Place</th>
                        <th>Lisence Number</th>
                        <th>Vehicle Number</th>
                        <th>Vehicle Type</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in messages %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.lisencenumber}}</td>
                        <td>{{i.vehiclenumber}}</td>
                        <td>{{i.vehicletype}}</td>
                        <td>{{i.createdby}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        </div>
    </div>  




</body>
</html>