<!DOCTYPE html>
<html>
  <head>
    <title>Contact us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />

  </head>
  <body style="background-image: url(/static/images/background.jfif);">

    <button class="backBtn"><a href="/index"><span class="fa fa-arrow-left"></span></a></button>
    <form method="POST" class="decor">
    {% csrf_token %}
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Contact us if you have any Queries</h1>
        <input type="text" placeholder="Username" name="contactname">
        <input type="email" placeholder="Email" name="contactemail">
        <textarea placeholder="Message..." rows="5" name="contactmessage"></textarea>
        <button class="subbtn" type="submit" onclick="myFunction()">Submit</button>
      </div>
    </form>
    <script>
      function myFunction(){
        alert("Your Query have been submitted successfully!!")
      }
    </script>
  </body>
</html>