<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>e-Challan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  
  </head>
  <body style="background-image: url(/static/images/background.jfif);"> 


<button class="backBtn"><a href="/index"><span class="fa fa-arrow-left"></span></a></button>
<button class="backBtn2"><a href="/challan">View Challans</a></button>
<button class="enlargeBtn" onclick="myFunction()"><span class="fa fa-print"></span></button>
  <div class="container" id="container">
    <div class="header">
	<span><img src="/static/images/logo.png" alt="" style="width: 50px; margin-left: 45%;"> <h2>Rule Violation Form</h2></span>
    </div>
  
     
     
    <form method="POST" id="form" class="form">
      {% csrf_token %}
      <div class="form-control">
        <label for="username"><span class="fa fa-user" ></span>&#8194;Name</label>
        <input type="text" id="Name" placeholder="Enter Name" name="Name" required>
      </div>
      <div class="form-control">
        <label for="username"><span class="fa fa-map"></span>&#8194;Place</label>
        <input type="text" class="form-control" id="Place" placeholder="Enter Place" name="Place" required>
      </div>
      <div class="form-control">
        <label for="username"><span class="fa fa-key"></span>&#8194;Lisence Number</label>
        <input type="text" class="form-control" id="Lisence Number" placeholder="Enter Lisence Number" name="LisenceNumber" required>
      </div>

      <div class="form-control">
        <label for="username"><span class="fa fa-key"></span>&#8194;Vehicle Number</label>
        <input type="text" class="form-control" id="Vehicle Number" placeholder="Enter Vehicle Number" name="VehicleNumber" required>
       
      </div>
      <div class="form-control">
        <label >Type:</label>
        <select class="form-control" id="exampleFormControlSelect1" name="VehicleType" style="border-radius: 10px; width: 100%; padding: 10px; border: 2px solid black;" >
          <option>Motor-Cycle/Scooter</option>
          <option>Car</option>
          <option>Bus</option>
          <option>Micro-Bus</option>
        </select>
  
      </div>

      <div class="form-control">
        <label for="username"><span class="fa fa-user"></span>&#8194;Created By</label>
        <input type="text" class="form-control" id="user" placeholder="Created By" name="TrafficName" required>
      
      </div>
     
      <button type="submit" class="btn" >Submit</button>
    </form>
   

</div>


<script>
  function myFunction(){
    window.print()
  }


</script>

</body>
</html>